.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.goto {
    font-size: 2.4rem;
    display: none;

    &:hover {
        color: rgba($color: $colorBlack, $alpha: .6);
        cursor: pointer;
    }
}


.grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}